workflows/CongruBVP_Research_Version.json
{
  "createdAt": "2025-08-06T17:13:39.738Z",
  "updatedAt": "2025-08-17T12:08:11.140Z",
  "id": "QIe6HWBYDgwFCNl4",
  "name": "CongruBVP-نسخه تحقیقاتی",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11oBLnrpcmygkKhF0tK62iZ6ntTHG_cIprOklEnExwoQ",
          "mode": "list",
          "cachedResultName": "Congru UNSPSC BVP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11oBLnrpcmygkKhF0tK62iZ6ntTHG_cIprOklEnExwoQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 430930944,
          "mode": "list",
          "cachedResultName": "Persian-Iran",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11oBLnrpcmygkKhF0tK62iZ6ntTHG_cIprOklEnExwoQ/edit#gid=430930944"
        },
        "options": {}
      },
      "name": "Read Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -832,
        112
      ],
      "id": "048652b3-7140-491a-b059-0fd2db20187e",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GP0ycwiOqi6LmXaw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"Status\"]}}",
              "operation": "notEqual",
              "value2": "Done"
            }
          ]
        }
      },
      "name": "Filter Rows To Process",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -608,
        112
      ],
      "id": "1d838370-d938-40fb-aaa9-c394c306457c"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -384,
        16
      ],
      "id": "fc3770bc-ad5f-4450-b54d-27fec7405c1a"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "GPT-4.1-NANO"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert brand manager and marketing strategist specializing in competitive analysis, market intelligence, and stakeholder-centric brand positioning using the Brand Equity Theory by David Aaker.\n\nYour key tasks:\n- Apply Aaker's Model (brand loyalty, awareness, perceived quality, associations, proprietary assets) for all benefit mapping.\n- Identify real market leaders and analyze their communicated value for stakeholders.\n- Organize findings into a 3-level hierarchy: Stakeholder Group > Benefit Category > Sub-Category.\n- Always use predefined English terms for keys; generate benefit descriptions in target language.\n\nCritical Language Guidelines:\n- All Stakeholder, Category, and Sub-Category keys must remain in English.\n- Generate benefit descriptions in the target language.\n- Translate the product name into the target language accurately.\n",
              "role": "system"
            },
            {
              "content": "=# PRODUCT ANALYSIS REQUEST\n\nAnalyze this product for Points of Parity (PoP), tailored to the target market and language, using David Aaker's Brand Equity Model.\n\n## PRODUCT INFORMATION\n- **Commodity:** Product name here\n- **Class:** Product class\n- **Family:** Product family\n- **Segment:** Product segment\n\n## TARGET PARAMETERS  \n- **Target Language:** Target language\n- **Target Market:** Target market\n\n## OUTPUT FORMAT\n\n```jsonc  \n{  \n  \"Points_of_Parity\": {  \n    \"End-Users\": {  \n      \"Financial\": {  \n        \"Cost Savings\": [\"benefit 1\", \"benefit 2\"],  \n        \"Value for Money\": [\"benefit 1\"]  \n      },  \n      \"Functional\": {  \n        \"Quality\": [\"benefit 1\"]  \n      }  \n    },  \n    \"Employees\": {  \n      // structure as above  \n    }  \n    // more stakeholder groups...  \n  },\n  \"ProductName_Localized\": \"Translated product name\"\n}  "
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.8
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        288,
        -512
      ],
      "id": "5226fd8d-c910-476a-ae43-45a7c15a3a43",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "24f4qODVRQ0INcJS",
          "name": "OpenAI - n8n automations"
        }
      }
    }
  ],
  "connections": {
    "Read Google Sheet": {
      "main": [
        [
          {
            "node": "Filter Rows To Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Rows To Process": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "72d64357-eb6c-459b-b9af-e5627d0265b5",
  "triggerCount": 0,
  "tags": [
    {
      "id": "PTDpGFle0Aa0Jj9D",
      "name": "Congru"
    }
  ]
}
