workflows/Congru_LinkedIn_posts.json
{
  "createdAt": "2025-05-28T07:44:50.329Z",
  "updatedAt": "2025-08-17T12:10:33.958Z",
  "id": "EorUVSEUqCHFbJQl",
  "name": "Congru LinkedIn posts",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "={{ $('Get Data from Sheets').item.json['Image (URL)'] }}",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "id": "af9ada5d-db3d-4ece-a98c-4c6d1a86d4e5",
      "name": "Get Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        0,
        0
      ],
      "typeVersion": 4.2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                2,
                3,
                4,
                5
              ],
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "c68f30e9-0750-4cb0-8378-71bdeec4590e",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1856,
        480
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "id": "45790d67-ca26-4e81-97ab-1ba358481f71",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1344,
        720
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "24f4qODVRQ0INcJS",
          "name": "OpenAI - n8n automations"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1H3LoDSVbyks1LPBLDupieDK3cPa96Em859kNdtgtCA8",
          "mode": "list",
          "cachedResultName": "LinkedIn post scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H3LoDSVbyks1LPBLDupieDK3cPa96Em859kNdtgtCA8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1953355328,
          "mode": "list",
          "cachedResultName": "Congru",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H3LoDSVbyks1LPBLDupieDK3cPa96Em859kNdtgtCA8/edit#gid=1953355328"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Pending"
            }
          ]
        },
        "options": {}
      },
      "id": "8aca8648-8e8d-465e-82ef-1fc9345cb03b",
      "name": "Get Data from Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -1648,
        480
      ],
      "typeVersion": 4.5,
      "alwaysOutputData": true,
      "retryOnFail": false,
      "notesInFlow": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GP0ycwiOqi6LmXaw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# LinkedIn Post Generation\n\n## Post Description:\n{{ $json[\"Post Description\"] }}\n\n## Instructions:\n{{ $json[\"Instructions\"] }}\n\n---\n\n**Task:**\nUsing the information above, generate a LinkedIn post text with the following requirements:\n\n- Create a new, positive, professional, and clear post using the Post Description and Instructions.\n- If Instructions explicitly request to keep the post content exactly as in the Post Description, do so without changes.\n- Begin the post with the label \"🇬🇧 English:\"\n- Then output the English post content (limit to 1000 characters), including 2–3 relevant emojis naturally, and relevant hashtags.\n- Below the English post, provide the Finnish translation under a visually distinct title \"🇫🇮 Suomi:\" on its own line.\n- After Finnish, provide the Swedish translation under the visually distinct title \"🇸🇪 Svenska:\" on its own line.\n- End each language section with relevant hashtags, always including #Congru.\n- Provide only the final post content as described, no explanations or additional text.",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert social media and LinkedIn content writer.\n\nYou will be provided with:\n- A brief post description\n- Specific instructions from the user\n\nPlease follow these steps:\n\n1. Initial Creation:\nIf you are given a post description and instructions, write a polished, professionally worded LinkedIn post suitable for sharing. Strictly follow the instructions and ensure the message is engaging and succinct.\nIf instructed, add a call to action or particular phrase (for example, \"Connect with me\" at the bottom).\n\n2. Formatting:\nKeep the tone positive, inclusive, and professional.\nAdd relevant hashtags in small case.\nLimit the content to within 1300 characters.\nPlace the call to action or special instruction at the end if requested.\nOutput ONLY the final LinkedIn post content. Do NOT include any explanations, markdown, headings, or commentary—just the post text, ready to copy and share on LinkedIn."
            }
          ]
        }
      },
      "id": "b16b2cca-7b5c-45b5-8dd5-c3cb67b680d6",
      "name": "Generate Post Content",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -1424,
        480
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bded6f56-99e2-4f1a-be41-27a8dd417844",
              "name": "Post Content",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "c222c42e-b639-4a74-a1b0-7a3e6e141d55",
              "name": "Post Description",
              "type": "string",
              "value": "={{ $('Get Data from Sheets').item.json['Post Description'] }}"
            },
            {
              "id": "14775ff7-e005-4a86-9623-c322365f7d3a",
              "name": "Instructions",
              "type": "string",
              "value": "={{ $('Get Data from Sheets').item.json.Instructions }}"
            }
          ]
        },
        "options": {}
      },
      "id": "330620d9-bbf0-4ec3-a08f-07be6e555647",
      "name": "Data Formatting 1",
      "type": "n8n-nodes-base.set",
      "position": [
        -1040,
        480
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "=soboutipour@gmail.com",
        "subject": "Approval for LinkedIn Post-Congru",
        "message": "=Generated Post:\n{{ $json['Post Content'] }}\n\n----------\n\nPost Description:\n{{ $json['Post Description'] }}\n\n----------\n\nInstructions:\n{{ $json.Instructions }}",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Confirm  Content?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  },
                  {
                    "option": "Cancel"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Any Changes?",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "id": "4f5848c1-55a7-4615-86f6-f372b1807950",
      "name": "Send Content Confirmation",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -816,
        384
      ],
      "webhookId": "65423b3e-cc6a-4daf-a2fa-547c38df9592",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "YHAvyBe2E2e34aoq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "99ec185e-80ac-451d-bb69-662f84a7cf52",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.data['Confirm  Content?'] }}",
                    "rightValue": "Yes"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Yes"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "77031007-a912-4b9b-9cca-846c57ffaec8",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.data['Confirm  Content?'] }}",
                    "rightValue": "No"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "No"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "e94de530-6451-48aa-892c-924a9c41cfb0",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.data['Confirm  Content?'] }}",
                    "rightValue": "Cancel"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Cancel"
            }
          ]
        },
        "options": {}
      },
      "id": "f3aa9959-d4ff-4686-b070-deb5d4a1581e",
      "name": "Content Confirmation Logic",
      "type": "n8n-nodes-base.switch",
      "position": [
        -608,
        384
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Apply the modification requests on the following LinkedIn post. Besides applying the reqested modifications, return the same linkedin post.\n\nLinkedIn post:\n```\n{{ $('Data Formatting 1').item.json['Post Content'] }}\n```\n\nChange requests:\n{{ $('Send Content Confirmation').item.json.data['Any Changes?'] }}\n\n**Task:**\nUsing the information above, update the LinkedIn post content:\n- Do not include any explanations, just the final post content only (with all the change requests included in the post), ready to publish on LinkedIn.\n- Limit to 1300 characters.\n- If the user demands to keep the same post as the Post Description (in the instructions), then keep the same post content as provided in the Post Description, and output it."
      },
      "id": "8e3d6874-6446-4905-9edd-1be889097051",
      "name": "Regenerate Post Content",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -384,
        528
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9a78220d-35f5-48b6-9ce3-faecaac24b74",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $('Get Data from Sheets').item.json['Image (URL)'] }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "28c83fb1-50d6-48a6-8633-f31df0a6b61c",
      "name": "If Image Provided",
      "type": "n8n-nodes-base.if",
      "position": [
        -304,
        112
      ],
      "typeVersion": 2.2,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "postAs": "organization",
        "text": "={{ $('Data Formatting 1').item.json['Post Content'] }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "id": "69857cc8-c626-4bf4-9439-fb394c1eb0f9",
      "name": "Post With Image",
      "type": "n8n-nodes-base.linkedIn",
      "position": [
        240,
        32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "communityManagement",
        "postAs": "organization",
        "organization": "106129687",
        "text": "={{ $('Data Formatting 1').item.json['Post Content'] }}",
        "additionalFields": {}
      },
      "id": "f6c342e9-ae5a-4cc9-b622-636aeecfc247",
      "name": "Post Without Image",
      "type": "n8n-nodes-base.linkedIn",
      "position": [
        -16,
        160
      ],
      "typeVersion": 1,
      "credentials": {
        "linkedInCommunityManagementOAuth2Api": {
          "id": "8st3VwCizlVm6jIL",
          "name": "LinkedIn Community Management account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1H3LoDSVbyks1LPBLDupieDK3cPa96Em859kNdtgtCA8",
          "mode": "list",
          "cachedResultName": "LinkedIn post scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H3LoDSVbyks1LPBLDupieDK3cPa96Em859kNdtgtCA8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1953355328,
          "mode": "list",
          "cachedResultName": "Congru",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H3LoDSVbyks1LPBLDupieDK3cPa96Em859kNdtgtCA8/edit#gid=1953355328"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Output": "={{ $json.urn }}",
            "Status": "=Completed",
            "Post Link": "={{ $json.urn }}",
            "row_number": "={{ $('Get Data from Sheets').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Post Description",
              "displayName": "Post Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Instructions",
              "displayName": "Instructions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image (URL)",
              "displayName": "Image (URL)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Output",
              "displayName": "Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post Link",
              "displayName": "Post Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "92f67aba-5a4e-437a-bdd8-bffca3d80a36",
      "name": "Update Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        448,
        208
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GP0ycwiOqi6LmXaw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 1. Schedule & Sheet Data Retrieval\n\nThis workflow starts automatically on a defined schedule (e.g., daily or hourly).\n\nIt retrieves the next Google Sheet row marked as 'Pending'.\n\nThe sheet should include columns like:\n1. Post Description\n2. Instructions\n3. Image\n4. Status\n5. row_number (required for updates)\n\nEnsure your Google Sheets credentials are correctly configured.",
        "height": 380,
        "width": 420
      },
      "id": "01d0e991-381e-41e4-9aed-08e9b0d18f9e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2384,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 2. AI-Powered Post Generation & Formatting\n\nUses OpenAI GPT to generate a LinkedIn post based on the sheet's Post Description and Instructions.\n\nYou can modify the prompt if needed.\nThe generated post is then formatted along with relevant data for easy reference and consistency.",
        "height": 240,
        "width": 420
      },
      "id": "25172c4a-e6f5-4bfa-8058-c9ffa1fc86c9",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1824,
        928
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 3. Gmail Approval Workflow\n\nSends the formatted post to an approver via Gmail.\n\nThe approver can respond with:\n✅ Yes – Approve\n✏️ No – Request changes\n❌ Cancel – Abort the post\n\nSet Gmail credentials and recipient email in the node.",
        "height": 240,
        "width": 440
      },
      "id": "ffe90d38-fba2-4f49-abc9-589525363f8f",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1168,
        928
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 4. Approval Handling & Regeneration\n\nHandles all approval responses:\n- If Yes, proceed to post.\n- If No, regenerate content based on the feedback and resend.\n- If Cancel, update the Google Sheet as Cancelled.\n\nThis ensures a complete review cycle before posting.",
        "height": 240,
        "width": 440
      },
      "id": "7fa1931e-f4ba-4003-b131-a192334a0cb2",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        928
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 5. Image Check, Posting & Sheet Update\n\nChecks if an image URL is provided.\n- If present: Downloads the image and posts with it.\n- If not: Posts content without an image.\n\nAfter posting, it updates the Google Sheet with:\n- Status = Completed or Cancelled\n- LinkedIn post link/output\n\nUses row_number for precise sheet updates.",
        "height": 320,
        "width": 460
      },
      "id": "30b3a9e8-a633-4a5b-b9aa-9db59ed77ee9",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        928
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Get Image": {
      "main": [
        [
          {
            "node": "Post With Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post With Image": {
      "main": [
        [
          {
            "node": "Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Data from Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Formatting 1": {
      "main": [
        [
          {
            "node": "Send Content Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Image Provided": {
      "main": [
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Without Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Post Content",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Regenerate Post Content",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Post Without Image": {
      "main": [
        [
          {
            "node": "Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data from Sheets": {
      "main": [
        [
          {
            "node": "Generate Post Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Post Content": {
      "main": [
        [
          {
            "node": "Data Formatting 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regenerate Post Content": {
      "main": [
        [
          {
            "node": "Data Formatting 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Content Confirmation": {
      "main": [
        [
          {
            "node": "Content Confirmation Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Confirmation Logic": {
      "main": [
        [
          {
            "node": "If Image Provided",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Regenerate Post Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Helsinki",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "eb7f0c30-cce1-4fc5-9080-d083ca489f77",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-05-28T07:44:50.329Z",
      "updatedAt": "2025-05-28T07:44:50.329Z",
      "role": "workflow:owner",
      "workflowId": "EorUVSEUqCHFbJQl",
      "projectId": "KsMRkGjzjIgqFizG",
      "project": {
        "createdAt": "2025-05-28T07:38:53.543Z",
        "updatedAt": "2025-05-28T07:43:11.983Z",
        "id": "KsMRkGjzjIgqFizG",
        "name": "Shahram Soboutipour <soboutipour@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-05-28T07:38:53.543Z",
            "updatedAt": "2025-05-28T07:38:53.543Z",
            "role": "project:personalOwner",
            "userId": "d04c1dfc-dfd7-4820-9571-46e93764563b",
            "projectId": "KsMRkGjzjIgqFizG",
            "user": {
              "createdAt": "2025-05-28T07:38:53.543Z",
              "updatedAt": "2025-08-30T08:55:29.300Z",
              "id": "d04c1dfc-dfd7-4820-9571-46e93764563b",
              "email": "soboutipour@gmail.com",
              "firstName": "Shahram",
              "lastName": "Soboutipour",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-28T07:43:38.909Z",
                "personalization_survey_n8n_version": "1.94.1",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "EorUVSEUqCHFbJQl",
                "userActivated": true,
                "userActivatedAt": 1748458318288,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1754592946568
                },
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutGoogleSheets": true
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-08-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "createdAt": "2025-08-06T11:13:58.849Z",
      "updatedAt": "2025-08-17T12:13:20.985Z",
      "id": "PTDpGFle0Aa0Jj9D",
      "name": "Congru"
    },
    {
      "createdAt": "2025-08-08T08:11:56.183Z",
      "updatedAt": "2025-08-08T08:11:56.183Z",
      "id": "57X59euuQJG5XSvC",
      "name": "Final"
    }
  ]
}
