workflows/Congru_Overall_Company_setup_Brand_Book.json
{
  "id": "eBzyfR2ybWUEKxkz",
  "name": "Congru Overall Company setup > Brand Book",
  "active": false,
  "createdAt": "2025-08-17T12:06:51.402Z",
  "updatedAt": "2025-08-25T16:49:42.618Z",
  "tags": [
    {
      "createdAt": "2025-08-06T11:13:58.849Z",
      "updatedAt": "2025-08-17T12:13:20.985Z",
      "id": "PTDpGFle0Aa0Jj9D",
      "name": "Congru"
    }
  ],
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1512,
        364
      ],
      "id": "03717de9-119e-4253-9014-96b48ee9fdeb",
      "name": "BrandBook creation Agent"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a helpful assistant\nmy product is  {{ $json['Brand name'] }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -2752,
        288
      ],
      "id": "ac426b27-fd81-4248-86eb-cd033ff1cdca",
      "name": "Extract PoPs and PoDs - Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3776,
        272
      ],
      "id": "f5440225-8f73-4f52-91e9-bf93f0ebc5a3",
      "name": "Request Marketing Strategy"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -2208,
        560
      ],
      "id": "eb92530c-2233-433a-ac3b-e2dceea379ea",
      "name": "Market Analyzer"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -2064,
        784
      ],
      "id": "710e5966-d01e-451c-8aa4-1d02bb3409ff",
      "name": "Web search"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -3552,
        272
      ],
      "id": "98e136c5-1d55-40c4-a934-b12f0ae324b6",
      "name": "Market data extractor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -3536,
        496
      ],
      "id": "5b65cd51-4dee-4d44-84f6-a8434c128153",
      "name": "Market events analyzer"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -3408,
        496
      ],
      "id": "df3e9d16-49f8-488c-91ff-c3ae82b3c2cb",
      "name": "Search for market trends"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -3200,
        272
      ],
      "id": "6899282e-6295-464e-8ac2-7ca05d492f47",
      "name": "Marketing Action plan creator"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -3120,
        496
      ],
      "id": "84065db8-2e62-42d6-9a2e-42d4ff85c477",
      "name": "Create an event in Google Calendar"
    }
  ],
  "connections": {
    "Extract PoPs and PoDs - Agent": {
      "main": [
        [
          {
            "node": "4. BVP categorization based on Congru Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Web search": {
      "ai_tool": [
        [
          {
            "node": "Market Analyzer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Request Marketing Strategy": {
      "main": [
        [
          {
            "node": "Market data extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Market events analyzer": {
      "ai_tool": [
        [
          {
            "node": "Market data extractor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search for market trends": {
      "ai_tool": [
        [
          {
            "node": "Market data extractor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Market data extractor": {
      "main": [
        [
          {
            "node": "Marketing Action plan creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Marketing Action plan creator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}
