workflows/My_workflow_3.json
{
  "createdAt": "2025-08-28T13:05:33.581Z",
  "updatedAt": "2025-08-28T16:40:13.264Z",
  "id": "Xnm7uK6YfYxJVqwS",
  "name": "My workflow 3",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -4080,
        432
      ],
      "id": "f4bee80b-7370-44d3-a32a-4e0bb277fa77",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XH2gaiKpAzVsylxZnzH9Cgfg13WgYEZvs6pzX3SQR8w",
          "mode": "list",
          "cachedResultName": "Brand Mindset Input-test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XH2gaiKpAzVsylxZnzH9Cgfg13WgYEZvs6pzX3SQR8w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2138296752,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XH2gaiKpAzVsylxZnzH9Cgfg13WgYEZvs6pzX3SQR8w/edit#gid=2138296752"
        },
        "options": {}
      },
      "name": "Read Brand Form Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -3856,
        432
      ],
      "id": "685de697-20d7-4451-b0cd-1a82143fc705",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GP0ycwiOqi6LmXaw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"Status\"]}}",
              "operation": "notEqual",
              "value2": "Done"
            }
          ]
        }
      },
      "name": "Filter Pending Items",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -3632,
        432
      ],
      "id": "c83677e5-2466-4875-bf93-0aa24e60135a"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "name": "Process One Item",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -3408,
        336
      ],
      "id": "64816cbb-e2b8-4982-ab50-fa92892cbd2f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "company_language",
              "name": "companyLanguage",
              "value": "={{ $json['Company Language'] || 'English' }}",
              "type": "string"
            },
            {
              "id": "target_languages",
              "name": "targetLanguages",
              "value": "={{ $json['Target Market Language'].split(',').map(lang => lang.trim()) }}",
              "type": "array"
            },
            {
              "id": "all_languages",
              "name": "allLanguages",
              "value": "={{ [...new Set([$json['Company Language'] || 'English', ...$json['Target Market Language'].split(',').map(lang => lang.trim())])] }}",
              "type": "array"
            },
            {
              "id": "workflow_id",
              "name": "workflowId",
              "value": "={{ $json['Timestamp'] + '_' + Date.now() }}",
              "type": "string"
            },
            {
              "id": "raw_data",
              "name": "rawData",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "name": "Prepare Workflow Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3184,
        336
      ],
      "id": "629693d6-d28b-4520-96e7-752b415493b9"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Brand Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Brand Form Data": {
      "main": [
        [
          {
            "node": "Filter Pending Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Pending Items": {
      "main": [
        [
          {
            "node": "Process One Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process One Item": {
      "main": [
        [
          {
            "node": "Prepare Workflow Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "772900aa-99ca-444e-a16b-b44307ee3640",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-28T13:05:33.581Z",
      "updatedAt": "2025-08-28T13:05:33.581Z",
      "role": "workflow:owner",
      "workflowId": "Xnm7uK6YfYxJVqwS",
      "projectId": "KsMRkGjzjIgqFizG",
      "project": {
        "createdAt": "2025-05-28T07:38:53.543Z",
        "updatedAt": "2025-05-28T07:43:11.983Z",
        "id": "KsMRkGjzjIgqFizG",
        "name": "Shahram Soboutipour <soboutipour@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-05-28T07:38:53.543Z",
            "updatedAt": "2025-05-28T07:38:53.543Z",
            "role": "project:personalOwner",
            "userId": "d04c1dfc-dfd7-4820-9571-46e93764563b",
            "projectId": "KsMRkGjzjIgqFizG",
            "user": {
              "createdAt": "2025-05-28T07:38:53.543Z",
              "updatedAt": "2025-08-31T04:01:19.374Z",
              "id": "d04c1dfc-dfd7-4820-9571-46e93764563b",
              "email": "soboutipour@gmail.com",
              "firstName": "Shahram",
              "lastName": "Soboutipour",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-28T07:43:38.909Z",
                "personalization_survey_n8n_version": "1.94.1",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "EorUVSEUqCHFbJQl",
                "userActivated": true,
                "userActivatedAt": 1748458318288,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1754592946568
                },
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutGoogleSheets": true
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-08-31",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
