workflows/Test-BrandBookMaker.json
{
  "createdAt": "2025-08-25T16:50:22.472Z",
  "updatedAt": "2025-08-27T11:57:09.021Z",
  "id": "vbVMUkPhzHV74XkR",
  "name": "Test-BrandBookMaker",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2160,
        448
      ],
      "id": "57bfc901-9c75-48b2-b6ff-97a350a5ab94",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XH2gaiKpAzVsylxZnzH9Cgfg13WgYEZvs6pzX3SQR8w",
          "mode": "list",
          "cachedResultName": "Brand Mindset Input-test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XH2gaiKpAzVsylxZnzH9Cgfg13WgYEZvs6pzX3SQR8w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2138296752,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XH2gaiKpAzVsylxZnzH9Cgfg13WgYEZvs6pzX3SQR8w/edit#gid=2138296752"
        },
        "options": {}
      },
      "name": "Read Brand Form Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1936,
        448
      ],
      "id": "78d166fe-c11e-49bc-bf62-34889906f414",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GP0ycwiOqi6LmXaw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"Status\"]}}",
              "operation": "notEqual",
              "value2": "Done"
            }
          ]
        }
      },
      "name": "Filter Pending Items",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1712,
        448
      ],
      "id": "7bfe3783-f20b-47a7-806e-ca4d1d82f010"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "name": "Process One Item",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -1488,
        352
      ],
      "id": "9979e2cf-e94e-436d-86df-9336a97a6099"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Brand Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Brand Form Data": {
      "main": [
        [
          {
            "node": "Filter Pending Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Pending Items": {
      "main": [
        [
          {
            "node": "Process One Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "7838163b-d515-48fe-a6c4-a01d4dd3e6d4",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-08-06T11:13:58.849Z",
      "updatedAt": "2025-08-17T12:13:20.985Z",
      "id": "PTDpGFle0Aa0Jj9D",
      "name": "Congru"
    },
    {
      "createdAt": "2025-08-17T12:10:56.665Z",
      "updatedAt": "2025-08-17T12:10:56.665Z",
      "id": "m21eE29eBX9CJ3bL",
      "name": "Testing"
    }
  ]
}
